
parameters:
    level: 4
    paths:
        - src
    inferPrivatePropertyTypeFromConstructor: true
    ignoreErrors:
        - '#.* on an unknown class HughCube\\Laravel\\Knight\\Http\\Middleware\\HttpsGuard#'
